# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Others
*.log
*.tlog
*.ide
*.pdb
*.cache
*.ilk
*.tmp
*.csproj.user
*.csproj.vspscc
*.csproj.vspscc
*.dbmdl
*.dbproj.schemaview
*.jfm

# NuGet Packages
*.nupkg
*.snupkg
packages/
